/* SettingsPage.module.css */

.container {
  position: relative;
  margin-top: 8%;
  padding: 20px;
  text-align: center;
  }
  
  .cardContainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    margin: 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
 h1{
  margin-bottom: 80px;
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 } 
  .card a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 20px;
  }
  
  .iconWrapper {
    position: relative;
    height: 100px;
  }
  
  .icon {
    font-size: 50px;
    color: #007BFF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveDownUp 3s ease-in-out infinite alternate;
  }
  
  .iconUp {
    animation: moveUpDown 3s ease-in-out infinite alternate;
  }
  

  .cardContainer .backButton {
    position: absolute;
    display: flex;
    align-items: center;
    top: -25px;
    gap: 5px;
    left: 25%;
    font-size: 0.80rem;
    width: 80px;
    height: 30px;
  }
 
  
  @keyframes moveDownUp {
    0% {
      top: 0;
    }
    100% {
      top: 20px;
    }
  }

  
  
  @keyframes moveDownUp {
    0% {
      top: 0;
    }
    100% {
      top: 20px;
    }
  }
  
  @keyframes moveUpDown {
    0% {
      top: 20px;
    }
    100% {
      top: 0;
    }
  }
  
  .card h2 {
    margin-top: 80px;
  }
  